@model Exam.Models.Student

@{
    ViewBag.Title = "Удаление записи";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Literature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Literature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Maths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Maths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Physics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Physics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_Chemistry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_Chemistry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value_History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value_History)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
